body {
  padding: 20px;
  margin: 0 auto;
  background-color: #e2e2e2;
  color: #595b66;
  font-family: 'Microsoft Yahei', sans-serif;
}

.content {
  display: flex;
}

.left,
.right {
  width: 50%;
  border-left: 1px solid #595b66;
  padding: 10px;
}

.box {
  background-color: #fff;
  display: flex;
}

.box-tall {
  height: 400px;
}

.box-item {
  width: 100px;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  border: 1px solid #fff;
  /* margin: 5px; */
  background-color: skyblue;
  font-size: 50px;
  color: white;
  text-align: center;
}

.item-tall {
  height: 200px;
  line-height: 200px;
}

/* 容器的 flex-direction 属性 */
.box-flex-direction-row {
  flex-direction: row;
}
.box-flex-direction-column {
  flex-direction: column;
}
.box-flex-direction-row-reverse {
  flex-direction: row-reverse;
}
.box-flex-direction-column-reverse {
  flex-direction: column-reverse;
}

/* 容器的 flex-wrap 属性 */
.box-flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.box-flex-wrap-wrap {
  flex-wrap: wrap;
}
.box-flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* 容器的 flex-flow 属性 */
.box-flex-flow-row-nowrap {
  flex-flow: row nowrap;
}

/* 容器的 justify-content 属性 */
.box-justify-content-flex-start {
  justify-content: flex-start;
}
.box-justify-content-flex-end {
  justify-content: flex-end;
}
.box-justify-content-center {
  justify-content: center;
}
.box-justify-content-space-between {
  justify-content: space-between;
}
.box-justify-content-space-around {
  justify-content: space-around;
}
.box-justify-content-space-evenly {
  justify-content: space-evenly;
}

/* 容器的 align-items 属性 */
.box-align-items-flex-start {
  align-items: flex-start;
}
.box-align-items-flex-end {
  align-items: flex-end;
}
.box-align-items-center {
  align-items: center;
}
.box-align-items-baseline {
  align-items: baseline;
}

.box-align-items-baseline .box-item {
  font-size: 44px;
  line-height: initial;
  text-decoration: underline;
}

.box-align-items-baseline .item-tall {
  font-size: 64px;
  line-height: initial;
}

.box-align-items-stretch {
  align-items: stretch;
}

.box-align-items-stretch .box-item {
  height: auto;
}

/* 容器的 align-content 属性 */
.box-align-content-flex-start {
  flex-wrap: wrap;
  align-content: flex-start;
}
.box-align-content-flex-end {
  flex-wrap: wrap;
  align-content: flex-end;
}
.box-align-content-center {
  flex-wrap: wrap;
  align-content: center;
}
.box-align-content-space-between {
  flex-wrap: wrap;
  align-content: space-between;
}
.box-align-content-space-around {
  flex-wrap: wrap;
  align-content: space-around;
}
.box-align-content-stretch {
  flex-wrap: wrap;
  align-content: stretch;
}
.box-align-content-stretch .box-item {
  height: auto;
}
