* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #eee;
  margin-bottom: 16px;
  display: flex;
}

.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .item .innerbox {
  color: #fff;
  font-size: 36px;
}